<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>StockData With YahooFinance API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> StockData With YahooFinance/MongoDB API </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>

                    <th>Company</th>
                    <th>Stock Price</th>
                    <th>Percent Change</th>
                    <th>Mean 200 Day</th>
                    <th>Dividend</th>
                    <th>Time Stamp</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="StockStat : ${StockStats}">
                    <!--
                     <td><span th:text="${StockStat.id}"> Id </span></td>
                     -->
                    <td><span th:text="${StockStat.companyName}"> Name </span></td>
                    <td><span th:text="${StockStat.stockPrice}"> $ </span></td>
                    <td><span th:text="${StockStat.percentChange}"> % </span></td>
                    <td><span th:text="${StockStat.mean200DayPercent}"> % </span></td>
                    <td><span th:text="${StockStat.dividend}"> $ </span></td>
                    <td><span th:text="${#temporals.format(StockStat.timeStamp, 'dd-MM-yyyy HH:mm')}"> Date </span></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
